<div class="page-header">
    <h1>Coffee <small>Ipsum</small> </h1>
</div>

<!--<button class='btn btn-info' ng-click="clickTest()"> Click </button>-->

<div class="row">
    <div class="col-xs-10 col-xs-offset-1
                col-sm-8 col-sm-offset-2
                col-md-6 col-md-offset-3">
        <p>

            Americano viennese, sit, that qui redeye viennese skinny variety medium. Qui kopi-luwak, variety flavour americano wings single shot variety skinny cinnamon. Macchiato siphon aftertaste arabica white half and half redeye whipped shop. Caffeine, roast iced, black as, grinder saucer that extra robust coffee frappuccino.
            <br/>
            Caramelization galão grounds instant whipped skinny frappuccino sugar and extra. Arabica, crema whipped cream viennese sit trifecta. Robusta instant, foam cortado, mazagran flavour et blue mountain to go mug affogato. Cappuccino, steamed, dark acerbic ut variety cappuccino.
            <br/>
            Coffee filter cup, roast eu milk dripper whipped. Crema, seasonal and, doppio crema ut single origin redeye aroma sweet. Carajillo, grinder aroma doppio, a arabica body coffee acerbic medium americano. Extra whipped, variety java, ut kopi-luwak medium spoon coffee sugar.
            <br/>
            Caffeine, spoon half and half saucer extra white kopi-luwak. Siphon carajillo latte roast milk, redeye shop variety coffee instant qui cappuccino. Caramelization, foam and saucer and mazagran mug wings black. Carajillo latte, aftertaste strong, kopi-luwak cup, at frappuccino cortado carajillo plunger pot robusta.


        </p>
    </div>
</div>

