    <div class=" text-center">
        <!--<h1><span class="fa fa-lock"></span> Node Authentication</h1>-->
        <h1 style="font-size:39px;">Sign in </h1><br/>
        <form name="userForm" class="form-horizontal" role="form" ng-submit="submitForm(userForm.$valid)">
            <!-- //@TODO: ask if the user want to be add into the system too -->
            <p ng-if="error" class="text-danger">Please verify Email and Password.</p>

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1
                            col-sm-8  col-sm-offset-2
                            col-md-6  col-md-offset-3
                            col-lg-4  col-lg-offset-4">
                    <input type="email" style="font-size: 16px; height: 37px; border-radius:7px 7px 0px 0px; "
                           ng-model="formData.email" class="form-control" name="email" placeholder="email" autofocus required>
                    <p ng-show="userForm.email.$invalid && userForm.email.$dirty" class="text-danger">Email is required.</p>

                    <div class="input-group">
                        <input type="password" style="border-radius:0px 0px 0px 7px;border-right: none;" id="password"
                               ng-model="formData.password" class="form-control" name="password" placeholder="Password" required>
                        <span class="input-group-btn"  onmouseover="mouseoverPass();" onmouseout="mouseoutPass();">
                            <button  class="btn btn-default" style="border-radius:0px 0px 0px 0px; ">
                                <span class="fa fa-eye fa-lg"></span>
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" style="border-radius:0px 0px 7px 0px;" ng-disabled="userForm.$invalid">
                                <span class="fa fa-sign-in fa-lg"></span>
                            </button>
                        </span>
                    </div>
                    <p ng-show="userForm.password.$invalid && userForm.password.$dirty" class="text-danger">Password is required.</p>
                    <br/>
                    <label style="margin-bottom: 18px;">
                        <input type="checkbox" ng-model="remember"> Remember me
                    </label>
                    <br/>
                    <p class="text-info"><a ui-sref="register"> <span class="fa fa-plus fa-lg"></span> Create an Account</a></p>

                </div>
            </div>
            <!--<input type="submit" value="Log In"/>-->
            <!--<p class="help-block"><a href="#">Trouble logging in?</a></p>-->
        </form>
        <p class="text-danger">{{warning}}</p>
    </div>
